body {
    font-family: 'Kristen ITC', cursive;
}
h1 {
    text-align: center;
}
form {
    text-align: center;
    margin-top: 20px;
}
img {
    display: block;
    margin: 20px auto;
    border: 1px solid #ddd;
}
